<div class="container not-centered">
    <div class="row">
        <div class="col-sm-12">
            {{#parties}}
            <h1>{{party_name}}</h1>
            <hr>
            <h4>Game: {{game_name}}</h4>
            <h4>Experience Level: {{player_exp_level}}</h4>
            <h4>Maximum number of players: {{max_players}}</h4>
            <h4>Party is Full? </h4> <p id="full-party"></p>
            <h4>Date of Party: {{date}}</h4>
            <h4>Time of Party: {{time}}</h4>
            <h4>Location: {{location}}</h4>
            {{/parties}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Description: </h4>
            <p>{{description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h4>Want to join this party?</h4>
            <button type="button" class="btn btn-primary" data-hostedId-type="{{#parties}}{{hosted_gameid}}{{/parties}}" id="join-party">Join Party</button>
        </div>
    </div>

        <!-- Map -->
    <div class="row">
        <div class="col-sm-12">
            <div id="map">
                <div id="infowindow-content">
                    <img src="" width="16" height="16" id="place-icon">
                    <div id="place-name" class="title"></div>
                    <br>
                    <div id="place-address"></div>
                </div>
            </div>
        </div>
    </div>
</div>
